body {
  background-color: #9cc5ac;
}

.ch_red {
  color: #a90f0f;
}

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #9cc5ac;
  font-size: 3rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation-duration: 1.5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.loading>i {
  position: absolute;
  top: 48%;
  left: 49%;
}

#bee-plugin-container {
  flex-grow: 6;
  height: 80vh;
  width: 100%;
}

.btn {
  border: 0;
  font-size: 1rem;
  display: inline-block;
  background-color: #bfdac9;
}

.btn:hover {
  background-color: #e6f3eb;
}

header {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

header h1 {
  margin-left: 20px;
  color: #1c3817;
}

header .btn_preview {
  width: 100px;
  flex-grow: 1;
  color: #1c3817;
  margin: 20px;
  align-self: flex-end;
}

footer {
  height: 10vh;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer label {
  padding-right: 10px;
}

footer .btn {
  height: 30px;
  border-bottom: 1px solid #a90f0f;
  width: 70px;
}
