<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bee Challenge</title>

  <script src="https://kit.fontawesome.com/a960fd428e.js" crossorigin="anonymous"></script>
</head>

<body>
  <div id="root"></div>

  <!-- App script -->
  <script src="/<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
</body>

</html>
